[submodule "site"]
	path = site
	url = ../pages.git
	branch = main
[submodule "homebrew-wok"]
	path = homebrew-wok
	url = ../homebrew-wok.git
	branch = main
[submodule "skills"]
	path = skills
	url = ssh://git@codeberg.org/wok/skills.git
