site_name: Git Wok
repo_url: https://codeberg.org/wok/wok
repo_name: wok/wok
markdown_extensions:
  - admonition
  - attr_list
  - mdx_truly_sane_lists
  - pymdownx.tasklist:
      custom_checkbox: true
  - toc:
      permalink: ⚓︎
theme:
  name: material
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.tracking
    - toc.follow
    - toc.integrate
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      accent: light green
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      accent: green
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Open Sans
    code: Fira Code
  logo: assets/images/logo.png
  favicon: assets/images/favicon.png
extra_css:
  - stylesheets/extra.css
nav:
  - Home:
      - Git Wok Home: index.md
      - Git Wok on Codeberg: https://codeberg.org/wok/wok
      - MIT License: https://codeberg.org/wok/wok/src/branch/main/LICENSE
      - Code of Conduct: https://codeberg.org/wok/wok/src/branch/main/CODE_OF_CONDUCT.md
  - Getting Started: getting-started.md
  - Git Wok CLI: cli.md
  - Wokfile (wok.toml): wokfile.md
